[Ll]ibrary/
[Tt]emp/
[Oo]bj/
[Bb]uild/
[Bb]uilds/
[Ll]ogs/
[Uu]ser[Ss]ettings/
MemoryCaptures/
Recordings/
*.pidb.meta
*.pdb.meta
*.mdb.meta
CrashLogs/
sysinfo.txt
*.apk
*.aab
*.unitypackage
*.app
.DS_Store
InitTestScene*.unity*
ExportedObj/
.consulo/
*.csproj
*.unityproj
*.sln
*.suo
*.tmp
*.user
*.userprefs
*.pidb
*.booproj
*.svd
*.pdb
*.mdb
*.opendb
*.VC.db
.idea/
.vscode/
*.log
AssetStoreTools*
Assets/AssetStoreTools*
.vs/
.gradle/
ExportedObj/
.collabignore
Assets/Plugins/Editor/JetBrains*
InitTestScene*.unity*
com.unity.ide.rider.pid
*.apk.meta
*.unitypackage.meta
.utmp/
